{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger Petstore - OpenAPI 3.0",
    "description": "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about\nSwagger at [https://swagger.io](https://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!",
    "version": "1.0.11"
  },
  "servers": [
    {
      "url": "https://kashkash.net/webservices"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Operations about user"
    }
  ],
  "paths": {
    "/Users/register": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Register",
        "description": "This will create a new user.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "integer"
                  },
                  "varification_image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "device_id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "device_type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Login",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobile": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/social_login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Social Login",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "social_auth_id": {
                    "type": "string"
                  },
                  "Auth_Provider": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/get_dashboard_data": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Dashboard data",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_profile": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Profile",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_organization_list": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Organization List",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_organization_types": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Organization Types",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/userExist": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "User Exists",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "emailMobile": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/add_new_organization": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add New Organization",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_name": {
                    "type": "string"
                  },
                  "organization_type": {
                    "type": "integer"
                  },
                  "address": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/profile_update": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Profile Update",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "integer"
                  },
                  "email": {
                    "type": "string"
                  },
                  "age": {
                    "type": "integer"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/change_forgot_password": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Change Forgot Password",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "new_password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/forgot_password": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Forgot Password",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobileEmail": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/verify_forgot_otp": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify Forgot OTP",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "otp": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/changepassword": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Change Password",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "old_password": {
                    "type": "string"
                  },
                  "new_password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/resend_otp": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Resend OTP",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/logout": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Logout",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/verify_otp": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify OTP",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "otp": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/verify_user": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Verify User",
        "description": "",
        "parameters": [
          {
            "name": "userid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/get_qrcode_info": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Qrcode Info",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "qrcode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/getCardDetails": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Card Details",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/deleteBankCardDetail": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Delete Bank Card Detail",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "bc_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/getBankDetails": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Bank Details",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/paidTransactionList": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Paid Transaction List",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userid",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_transaction_history": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Transaction History",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/change_notification_status": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Change Notification Status",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "notification_status": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_about_us": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get About Us",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/get_privacy_policy": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Privacy Policy",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/get_terms_condition": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Terms Condition",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Users/get_contact_detail": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Contact Detail",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_advertisement_details": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Advertisement Details",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertisement_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_notification_list": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Notification List",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/read_notification": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Read Notification",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "notification_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/clear_notification": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Clear Notification",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/saveBankDetail": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Save Bank Detail",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "bank_name": {
                    "type": "string"
                  },
                  "acc_number": {
                    "type": "string"
                  },
                  "branch_name": {
                    "type": "string"
                  },
                  "acc_holder_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/fingerprint_status": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Fingerprint Status",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "finger_status": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_advertisement_images": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Advertisement Images",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/users_switch_accounts": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Users Switch Accounts",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "roles": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_receiver_list": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Receiver List",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Users/get_refferal_points_value": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Refferal Points Value",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/addMoney": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Add Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "pin": {
                    "type": "integer"
                  },
                  "add_money_method": {
                    "type": "integer"
                  },
                  "bank_name": {
                    "type": "string"
                  },
                  "acc_number": {
                    "type": "integer"
                  },
                  "branch_name": {
                    "type": "string"
                  },
                  "acc_holder_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/sendTip": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Send Tip",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount_type": {
                    "type": "string"
                  },
                  "receiver_info_id": {
                    "type": "integer"
                  },
                  "bill_amount": {
                    "type": "integer"
                  },
                  "tip_amount": {
                    "type": "integer"
                  },
                  "organisation_id": {
                    "type": "integer"
                  },
                  "send_money_method": {
                    "type": "integer"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/withdrawMoney": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Withdraw Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string"
                  },
                  "pin": {
                    "type": "integer"
                  },
                  "withdraw_money_method": {
                    "type": "integer"
                  },
                  "charge": {
                    "type": "integer"
                  },
                  "bank_name": {
                    "type": "string"
                  },
                  "acc_number": {
                    "type": "integer"
                  },
                  "branch_name": {
                    "type": "string"
                  },
                  "acc_holder_name": {
                    "type": "string"
                  },
                  "merchant_number": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/withdrawRequestList": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Withdraw Request List",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/declineWithdrawRequest": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Decline Withdraw Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqwithdrawId": {
                    "type": "integer"
                  },
                  "select_reason": {
                    "type": "string"
                  },
                  "type": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/acceptWithdrawRequest": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Accept Withdraw Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqwithdrawId": {
                    "type": "integer"
                  },
                  "pin": {
                    "type": "integer"
                  },
                  "charge": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/withdrawRequestHistoryList": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Withdraw Request History List",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/users_redeem_referral_points": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Users Redeem Referral Points",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "redeem_point": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/get_redeem_refferal_points_history": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Redeem Refferal Points History",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/get_earn_refferal_points_history": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Earn Refferal Points History",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/get_bank_list": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Bank List",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/download_pdf_transaction_history": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Download Pdf Transaction History",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  },
                  "is_download": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/get_withdraw_repeat_details": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Withdraw Repeat Details",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "trx_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/refund_virtual_amount": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Refund Virtual Amount",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/sendMoneyChat": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Send Money Chat",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "sender_id": {
                    "type": "integer"
                  },
                  "receiver_id": {
                    "type": "integer"
                  },
                  "amount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/scanPaysendMoney": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Scan Pay Send Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "mobile": {
                    "type": "integer"
                  },
                  "charge": {
                    "type": "integer"
                  },
                  "pin": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/acceptSendMoneyRequest": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Accept Send Money Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqmoneyId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/declineSendMoneyRequest": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Decline Send Money Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqmoneyId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Transactions/cancel_request_for_sendmoney": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Cancel Request For Send Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqmoneyId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/notification": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "Deposit Money Notification",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/addMoney": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Add Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "pin": {
                    "type": "integer"
                  },
                  "add_money_method": {
                    "type": "integer"
                  },
                  "bank_name": {
                    "type": "string"
                  },
                  "acc_number": {
                    "type": "integer"
                  },
                  "branch_name": {
                    "type": "string"
                  },
                  "acc_holder_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/sendMoney": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Send Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "send_money_method": {
                    "type": "integer"
                  },
                  "use_my_wallet": {
                    "type": "string"
                  },
                  "pin": {
                    "type": "integer"
                  },
                  "request_info": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "mobileEmail": {
                          "type": "integer"
                        },
                        "amount": {
                          "type": "integer"
                        },
                        "charge": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/withdrawMoney": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Withdraw Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "pin": {
                    "type": "integer"
                  },
                  "withdraw_money_method": {
                    "type": "integer"
                  },
                  "charge": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/withdrawRequestList": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Withdraw Request List",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/declineWithdrawRequest": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Decline Withdraw Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqwithdrawId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/acceptWithdrawRequest": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Accept Withdraw Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pin": {
                    "type": "integer"
                  },
                  "reqwithdrawId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/withdrawRequestHistoryList": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Withdraw Request History List",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/users_redeem_referral_points": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Users Redeem Referral Points",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "redeem_point": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/get_redeem_refferal_points_history": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Get Redeem Refferal Points History",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/get_earn_refferal_points_history": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Get Earn Refferal Points History",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/get_bank_list": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "Get Bank List",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/download_pdf_transaction_history": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Download Pdf Transaction History",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_no": {
                    "type": "integer"
                  },
                  "is_download": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/get_withdraw_repeat_details": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Get Withdraw Repeat Details",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "trx_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/refund_virtual_amount": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "Refund Virtual Amount",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/sendMoneyChat": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Send Money Chat",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "sender_id": {
                    "type": "integer"
                  },
                  "receiver_id": {
                    "type": "integer"
                  },
                  "amount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/scanPaysendMoney": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Scan Pay Send Money",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "mobile": {
                    "type": "integer"
                  },
                  "charge": {
                    "type": "integer"
                  },
                  "is_chat": {
                    "type": "integer"
                  },
                  "commMsg": {
                    "type": "string"
                  },
                  "pin": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/acceptSendMoneyRequest": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Accept Send Money Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqmoneyId": {
                    "type": "integer"
                  },
                  "pin": {
                    "type": "integer"
                  },
                  "is_chat": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/declineSendMoneyRequest": {
      "post": {
        "tags": [
          "Deposit"
        ],
        "summary": "Decline Send Money Request",
        "description": "",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqmoneyId": {
                    "type": "integer"
                  },
                  "select_reason": {
                    "type": "string"
                  },
                  "is_chat": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/Depositmoney/cancel_request_for_sendmoney": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "Cancel Request for Send Money",
        "description": "",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "read:pets"
            ]
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/user/{username}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user by user name",
        "description": "",
        "operationId": "getUserByName",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "The name that needs to be fetched. Use user1 for testing. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid username supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Update user",
        "description": "This can only be done by the logged in user.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "name that need to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update an existent user in the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Delete user",
        "description": "This can only be done by the logged in user.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "The name that needs to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid username supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "petId": {
            "type": "integer",
            "format": "int64",
            "example": 198772
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "example": 7
          },
          "shipDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "description": "Order Status",
            "example": "approved",
            "enum": [
              "placed",
              "approved",
              "delivered"
            ]
          },
          "complete": {
            "type": "boolean"
          }
        },
        "xml": {
          "name": "order"
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
[...]
