ul {list-style: none;}

body {
  font-family: 'Lato';
  font-weight: normal;
  background: #fff;
  color:#929292; 
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #4A4A4A;
  font-family: 'Lato'; }

h1 {font-size: 42px; }

h2 {font-size: 30px; }

h3 {font-size: 24px; }

h4 {font-size: 20px;font-weight: 300; }

h5 {font-size: 17px; }

h6 {font-size: 15px; }

p {font-size: 18px;line-height: 30px;margin: 0;}

.content-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block;
  vertical-align: top; }

.block {
  display: block; }

.justify {
  text-align: justify; }

.boxshadow {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.btn.btn-color:focus, .btn.btn-color:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

ul {
  list-style: none;
  padding: 0; }

button:focus {
  outline: none !important; }

/************Background css *****************/
.bg_gray {background:#F0F0F0;width:100%;}
.bg_orange {background: #F6823B;width: 100%;}
.bg_white {background:#fff;}
.bg_red {background:#A30009;}
.bg_lightblack {background-color: #2E2E2E;}
.bg_darkblack {background-color: #191919;}


/**********color css**********/
.orangecolor {color:#F6823B;}
.white {color:#fff;}
.red {color: #BF4F52;}
.yellow {color: #FDD9B1;}
.green {color: #3AAA5C;}
.lightsubheading {color:#AAAAAA;}

/***********boxshadow***********/
.boxshadow {box-shadow: 0px 1px 10px 0px #ccc;}
.btnboxshadow {box-shadow: 0 3px 10px 0px #f6823a;}

/***********width************/

.full-width {width:100%;}
.h-w-100 {height: 100px;width:100px;}
.h-w-90 {height: 90px;width:90px;}
.h-w-30 {height: 30px;width:30px;}

/**************font****************/
.bold {font-weight:bold;}


/**************border radius****************/
.border {border: 1px solid #E4E4E4;}
.border-b1 {border-bottom: 1px solid #ccc;}
.border-rad22 {border-radius: 22px;}
.border-50 {border-radius: 50%;}
.border-rad12 {border-radius: 12px;}
.border-radius-tl { border-top-left-radius: 12px;}
.border-radius-tr { border-top-right-radius: 12px;}
.border-radius-bl { border-bottom-left-radius: 12px;}
.border-radius-br { border-bottom-right-radius: 12px;}

/**************position****************/
.fixed {position: fixed;width:100%;}
.relative {position: relative;width:100%;}
.absolute {position: absolute;width:100%;}
.top-20 {top:-20px;}

/**************padding****************/
.padding-0 {padding: 0px;}
.padding-25 {padding:25px;}
.padding-b25 {padding-bottom: 25px;}
.padding-b20 {padding-bottom: 20px;}
.padding-b15 {padding-bottom: 15px;}
.padding-b10 {padding-bottom: 10px;}
.padding-t15 {padding-top: 15px;}
.padding-t10 {padding-top:10px;}
.padding-tb5 {padding-top:5px;padding-bottom:5px;}
.padding-tb20 {padding-top:20px;padding-bottom:20px;}
.padding-tb25 {padding-top:25px;padding-bottom:25px;}
.padding-tb35 {padding-top:35px;padding-bottom:35px;}
.padding-tb15 {padding-top:15px;padding-bottom:15px;}
.padding-tb10 {padding-top:6px;padding-bottom:6px;}
.padding-r15 {padding-right:15px;}
.padding-l30 {padding-left:30px;}

/**************margin****************/
.margin-0 {margin: 0px;}  
.margin-b10 {margin-bottom: 10px;}  
.margin-b20 {margin-bottom: 20px;}  
.margin-b30 {margin-bottom: 30px;}  
.margin-b40 {margin-bottom: 40px;}  
.margin-t10 {margin-top: 10px;}  
.margin-t15 {margin-top: 15px;}  
.margin-t20 {margin-top: 20px;}  
.margin-t25 {margin-top: 25px;}  
.margin-t30 {margin-top: 30px;}  
.margin-t35 {margin-top: 35px;}  




.bgtransparent {
  background: transparent; }

.bg-orange {
  background-color: #FB8224;
  border: 1px solid #FB8224; }
  .bg-orange:hover {
    background: transparent;
    color: #000; }

.border-orange {
  border: 1px solid #FB8224; }
  .border-orange:hover {
    background: #FB8224;
    color: #fff !important; }

.full-width {
  width: 100%; }

 .border-none {border: none !important; }
  .border-none:before {
    content: none !important; }
  .border-none:after {
    content: none !important; }

.border-top-none {
  border-top: none !important; }

.border-right-none {
  border-right: none !important; }

.border-bottom-none {
  border-bottom: none !important; }

.border-left-none {
  border-left: none !important; }

.bg-transparent {
  background: transparent; }

.capitalize { text-transform: capitalize !important; }
.upper { text-transform: uppercase !important; }
.lower { text-transform: lowercase !important; }

.border-radius0 {
  border-radius: 0px; }

.border-radius5 {
  border-radius: 5px; }

.border-radius10 {
  border-radius: 10px; }

.border-radius15 {
  border-radius: 15px; }

.border-radius20 {
  border-radius: 20px; }

.border-radius25 {
  border-radius: 25px; }

.border-radius50 {
  border-radius: 50px; }

.border-radius100 {
  border-radius: 100%; }

/**************** Height CSS *****************/
.heightauto {
  height: auto; }

.full-height {
  height: 100%; }

.height-50vh {
  min-height: 50vh; }

.height-60vh {
  min-height: 60vh; }

.height-75vh {
  min-height: 75vh; }

.height-80vh {
  min-height: 80vh; }

.height-95vh {
  min-height: 95vh; }

.height-100vh {
  min-height: 100vh; }



/**************** Font Size CSS *****************/
.f-10 {
  font-size: 10px !important; }

.f-11 {
  font-size: 11px !important; }

.f-12 {
  font-size: 12px !important; }

.f-13 {
  font-size: 13px !important; }

.f-14 {
  font-size: 14px !important; }

.f-15 {
  font-size: 15px !important; }

.f-16 {
  font-size: 16px !important; }

.f-17 {
  font-size: 17px !important; }

.f-18 {
  font-size: 18px !important; }

.f-19 {
  font-size: 19px !important; }

.f-20 {
  font-size: 20px !important; }

.f-21 {
  font-size: 21px !important; }

.f-22 {
  font-size: 22px !important; }

.f-23 {
  font-size: 23px !important; }

.f-24 {
  font-size: 24px !important; }

.f-30 {
  font-size: 30px !important; }

.f-36 {
  font-size: 36px !important; }

.f-42 {
  font-size: 42px !important; }

.f-48 {
  font-size: 48px !important; }

.f-54 {
  font-size: 54px !important; }

.f-60 {
  font-size: 60px !important; }

.f-70 {
  font-size: 70px !important; }

.f-80 {
  font-size: 80px !important; }

.f-90 {
  font-size: 90px !important; }

.f-100 {
  font-size: 100px !important; }

.lineheight5 {
  line-height: 5px; }

.lineheight10 {
  line-height: 10px; }

.lineheight15 {
  line-height: 15px; }

.lineheight20 {
  line-height: 20px; }

.lineheight25 {
  line-height: 25px; }

.lineheight30 {
  line-height: 30px; }

.lineheight35 {
  line-height: 35px; }

.lineheight40 {
  line-height: 40px; }

.lineheight45 {
  line-height: 45px; }

.lineheight50 {
  line-height: 50px; }

.lineheight55 {
  line-height: 55px; }

.lineheight60 {
  line-height: 60px; }

.lineheight65 {
  line-height: 65px; }

.lineheight70 {
  line-height: 70px; }

.lineheight75 {
  line-height: 75px; }

.lineheight80 {
  line-height: 80px; }

.lineheight90 {
  line-height: 90px; }

.lineheight100 {
  line-height: 100px; }




/*======= All Padding css =======*/
.padding-all5 {
  padding: 5px; }

.padding-all10 {
  padding: 10px; }

.padding-all15 {
  padding: 15px; }

.padding-all20 {
  padding: 20px; }

.padding-all25 {
  padding: 25px; }

.padding-all30 {
  padding: 30px; }

.padding-all35 {
  padding: 35px; }

.padding-all40 {
  padding: 40px; }

.padding-all45 {
  padding: 45px; }

.padding-all50 {
  padding: 50px; }

.padding-all55 {
  padding: 55px; }

.padding-all60 {
  padding: 60px; }

.padding-all65 {
  padding: 65px; }

.padding-all70 {
  padding: 70px; }

.padding-all75 {
  padding: 75px; }

.padding-all80 {
  padding: 80px; }

.padding-all90 {
  padding: 90px; }

.padding-all100 {
  padding: 100px; }

.padding-all110 {
  padding: 110px; }

.padding-all120 {
  padding: 120px; }

.padding-all130 {
  padding: 130px; }

.padding-all140 {
  padding: 140px; }

.padding-all150 {
  padding: 150px; }

.padding-all160 {
  padding: 160px; }

.padding-all170 {
  padding: 170px; }

.padding-all180 {
  padding: 180px; }

.padding-all190 {
  padding: 190px; }

.padding-all200 {
  padding: 200px; }

/*======= Padding Top and Bottom css =======*/
.padding-tb10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.padding-tb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-tb20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-tb25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.padding-tb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.padding-tb35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.padding-tb40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.padding-tb45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.padding-tb50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padding-tb55 {
  padding-top: 55px;
  padding-bottom: 55px; }

.padding-tb60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.padding-tb65 {
  padding-top: 65px;
  padding-bottom: 65px; }

.padding-tb70 {
  padding-top: 70px;
  padding-bottom: 70px; }

.padding-tb75 {
  padding-top: 75px;
  padding-bottom: 75px; }

.padding-tb80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.padding-tb85 {
  padding-top: 85px;
  padding-bottom: 85px; }

.padding-tb90 {
  padding-top: 90px;
  padding-bottom: 90px; }

.padding-tb100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.padding-tb110 {
  padding-top: 110px;
  padding-bottom: 110px; }

.padding-tb120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.padding-tb130 {
  padding-top: 130px;
  padding-bottom: 130px; }

.padding-tb140 {
  padding-top: 140px;
  padding-bottom: 140px; }

.padding-tb150 {
  padding-top: 150px;
  padding-bottom: 150px; }

.padding-tb160 {
  padding-top: 160px;
  padding-bottom: 160px; }

.padding-tb170 {
  padding-top: 170px;
  padding-bottom: 170px; }

.padding-tb180 {
  padding-top: 180px;
  padding-bottom: 180px; }

.padding-tb190 {
  padding-top: 190px;
  padding-bottom: 190px; }

.padding-tb200 {
  padding-top: 200px;
  padding-bottom: 200px; }

/*======= Padding Top css =======*/
.padding-t10 {
  padding-top: 10px; }

.padding-t15 {
  padding-top: 15px; }

.padding-t20 {
  padding-top: 20px; }

.padding-t25 {
  padding-top: 25px; }

.padding-t30 {
  padding-top: 30px; }

.padding-t35 {
  padding-top: 35px; }

.padding-t40 {
  padding-top: 40px; }

.padding-t45 {
  padding-top: 45px; }

.padding-t50 {
  padding-top: 50px; }

.padding-t55 {
  padding-top: 55px; }

.padding-t60 {
  padding-top: 60px; }

.padding-t65 {
  padding-top: 65px; }

.padding-t70 {
  padding-top: 70px; }

.padding-t75 {
  padding-top: 75px; }

.padding-t80 {
  padding-top: 80px; }

.padding-t90 {
  padding-top: 90px; }

.padding-t100 {
  padding-top: 100px; }

.padding-t110 {
  padding-top: 110px; }

.padding-t120 {
  padding-top: 120px; }

.padding-t130 {
  padding-top: 130px; }

.padding-t140 {
  padding-top: 140px; }

.padding-t150 {
  padding-top: 150px; }

.padding-t160 {
  padding-top: 160px; }

.padding-t170 {
  padding-top: 170px; }

.padding-t180 {
  padding-top: 180px; }

.padding-t190 {
  padding-top: 190px; }

.padding-t200 {
  padding-top: 200px; }

.padding-t210 {
  padding-top: 210px; }

/*======= Padding Bottom css =======*/
.padding-b10 {
  padding-bottom: 10px; }

.padding-b15 {
  padding-bottom: 15px; }

.padding-b20 {
  padding-bottom: 20px; }

.padding-b25 {
  padding-bottom: 25px; }

.padding-b30 {
  padding-bottom: 30px; }

.padding-b35 {
  padding-bottom: 35px; }

.padding-b40 {
  padding-bottom: 40px; }

.padding-b45 {
  padding-bottom: 45px; }

.padding-b50 {
  padding-bottom: 50px; }

.padding-b55 {
  padding-bottom: 55px; }

.padding-b60 {
  padding-bottom: 60px; }

.padding-b65 {
  padding-bottom: 65px; }

.padding-b70 {
  padding-bottom: 70px; }

.padding-b75 {
  padding-bottom: 75px; }

.padding-b80 {
  padding-bottom: 80px; }

.padding-b90 {
  padding-bottom: 90px; }

.padding-b100 {
  padding-bottom: 100px; }

.padding-b110 {
  padding-bottom: 110px; }

.padding-b120 {
  padding-bottom: 120px; }

.padding-b130 {
  padding-bottom: 130px; }

.padding-b140 {
  padding-bottom: 140px; }

.padding-b150 {
  padding-bottom: 150px; }

.padding-b160 {
  padding-bottom: 160px; }

.padding-b170 {
  padding-bottom: 170px; }

.padding-b180 {
  padding-bottom: 180px; }

.padding-b190 {
  padding-bottom: 190px; }

.padding-b200 {
  padding-bottom: 200px; }

/*======= Padding Left and Right css =======*/
.padding-lr10 {
  padding-left: 10px;
  padding-right: 10px; }

.padding-lr15 {
  padding-left: 15px;
  padding-right: 15px; }

.padding-lr20 {
  padding-left: 20px;
  padding-right: 20px; }

.padding-lr25 {
  padding-left: 25px;
  padding-right: 25px; }

.padding-lr30 {
  padding-left: 30px;
  padding-right: 30px; }

.padding-lr35 {
  padding-left: 35px;
  padding-right: 35px; }

.padding-lr40 {
  padding-left: 40px;
  padding-right: 40px; }

.padding-lr45 {
  padding-left: 45px;
  padding-right: 45px; }

.padding-lr50 {
  padding-left: 50px;
  padding-right: 50px; }

.padding-lr55 {
  padding-left: 55px;
  padding-right: 55px; }

.padding-lr60 {
  padding-left: 60px;
  padding-right: 60px; }

.padding-lr65 {
  padding-left: 65px;
  padding-right: 65px; }

.padding-lr70 {
  padding-left: 70px;
  padding-right: 70px; }

.padding-lr75 {
  padding-left: 75px;
  padding-right: 75px; }

.padding-lr80 {
  padding-left: 80px;
  padding-right: 80px; }

.padding-lr90 {
  padding-left: 90px;
  padding-right: 90px; }

.padding-lr100 {
  padding-left: 100px;
  padding-right: 100px; }

.padding-lr110 {
  padding-left: 110px;
  padding-right: 110px; }

.padding-lr120 {
  padding-left: 120px;
  padding-right: 120px; }

.padding-lr130 {
  padding-left: 130px;
  padding-right: 130px; }

.padding-lr140 {
  padding-left: 140px;
  padding-right: 140px; }

.padding-lr150 {
  padding-left: 150px;
  padding-right: 150px; }

.padding-lr160 {
  padding-left: 160px;
  padding-right: 160px; }

.padding-lr170 {
  padding-left: 170px;
  padding-right: 170px; }

.padding-lr180 {
  padding-left: 180px;
  padding-right: 180px; }

.padding-lr190 {
  padding-left: 190px;
  padding-right: 190px; }

.padding-lr200 {
  padding-left: 200px;
  padding-right: 200px; }

/*======= Padding Left css =======*/
.padding-l10 {
  padding-left: 10px;
  padding-right: 10px; }

.padding-l15 {
  padding-left: 15px; }

.padding-l20 {
  padding-left: 20px; }

.padding-l25 {
  padding-left: 25px; }

.padding-l30 {
  padding-left: 30px; }

.padding-l35 {
  padding-left: 35px; }

.padding-l40 {
  padding-left: 40px; }

.padding-l45 {
  padding-left: 45px; }

.padding-l50 {
  padding-left: 50px; }

.padding-l55 {
  padding-left: 55px; }

.padding-l60 {
  padding-left: 60px; }

.padding-l65 {
  padding-left: 65px; }

.padding-l70 {
  padding-left: 70px; }

.padding-l75 {
  padding-left: 75px; }

.padding-l80 {
  padding-left: 80px; }

.padding-l90 {
  padding-left: 90px; }

.padding-l100 {
  padding-left: 100px; }

.padding-l110 {
  padding-left: 110px; }

.padding-l120 {
  padding-left: 120px; }

.padding-l130 {
  padding-left: 130px; }

.padding-l140 {
  padding-left: 140px; }

.padding-l150 {
  padding-left: 150px; }

.padding-l160 {
  padding-left: 160px; }

.padding-l170 {
  padding-left: 170px; }

.padding-l180 {
  padding-left: 180px; }

.padding-l190 {
  padding-left: 190px; }

.padding-l200 {
  padding-left: 200px; }

/*======= Padding Right css =======*/
.padding-r10 {
  padding-right: 10px; }

.padding-r15 {
  padding-right: 15px; }

.padding-r20 {
  padding-right: 20px; }

.padding-r25 {
  padding-right: 25px; }

.padding-r30 {
  padding-right: 30px; }

.padding-r35 {
  padding-right: 35px; }

.padding-r40 {
  padding-right: 40px; }

.padding-r45 {
  padding-right: 45px; }

.padding-r50 {
  padding-right: 50px; }

.padding-r55 {
  padding-right: 55px; }

.padding-r60 {
  padding-right: 60px; }

.padding-r65 {
  padding-right: 65px; }

.padding-r70 {
  padding-right: 70px; }

.padding-r75 {
  padding-right: 75px; }

.padding-r80 {
  padding-right: 80px; }

.padding-r90 {
  padding-right: 90px; }

.padding-r100 {
  padding-right: 100px; }

.padding-r110 {
  padding-right: 110px; }

.padding-r120 {
  padding-right: 120px; }

.padding-r130 {
  padding-right: 130px; }

.padding-r140 {
  padding-right: 140px; }

.padding-r150 {
  padding-right: 150px; }

.padding-r160 {
  padding-right: 160px; }

.padding-r165 {
  padding-right: 165px; }

.padding-r170 {
  padding-right: 170px; }

.padding-r180 {
  padding-right: 180px; }

.padding-r190 {
  padding-right: 190px; }

.padding-r200 {
  padding-right: 200px; }

/*======= All margin css =======*/
.margin-all5 {
  margin: 5px; }

.margin-all10 {
  margin: 10px; }

.margin-all15 {
  margin: 15px; }

.margin-all20 {
  margin: 20px; }

.margin-all25 {
  margin: 25px; }

.margin-all30 {
  margin: 30px; }

.margin-all35 {
  margin: 35px; }

.margin-all40 {
  margin: 40px; }

.margin-all45 {
  margin: 45px; }

.margin-all50 {
  margin: 50px; }

.margin-all55 {
  margin: 55px; }

.margin-all60 {
  margin: 60px; }

.margin-all65 {
  margin: 65px; }

.margin-all70 {
  margin: 70px; }

.margin-all75 {
  margin: 75px; }

.margin-all80 {
  margin: 80px; }

.margin-all90 {
  margin: 90px; }

.margin-all100 {
  margin: 100px; }

.margin-all110 {
  margin: 110px; }

.margin-all120 {
  margin: 120px; }

.margin-all130 {
  margin: 130px; }

.margin-all140 {
  margin: 140px; }

.margin-all150 {
  margin: 150px; }

.margin-all160 {
  margin: 160px; }

.margin-all170 {
  margin: 170px; }

.margin-all180 {
  margin: 180px; }

.margin-all190 {
  margin: 190px; }

.margin-all200 {
  margin: 200px; }

/*======= Margin Top and Bottom css =======*/
.margin-tb10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.margin-tb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.margin-tb20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-tb25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.margin-tb30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-tb35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.margin-tb40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.margin-tb45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.margin-tb50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.margin-tb55 {
  margin-top: 55px;
  margin-bottom: 55px; }

.margin-tb60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.margin-tb65 {
  margin-top: 65px;
  margin-bottom: 65px; }

.margin-tb70 {
  margin-top: 70px;
  margin-bottom: 70px; }

.margin-tb75 {
  margin-top: 75px;
  margin-bottom: 75px; }

.margin-tb80 {
  margin-top: 80px;
  margin-bottom: 80px; }

.margin-tb90 {
  margin-top: 90px;
  margin-bottom: 90px; }

.margin-tb100 {
  margin-top: 100px;
  margin-bottom: 100px; }

.margin-tb110 {
  margin-top: 110px;
  margin-bottom: 110px; }

.margin-tb120 {
  margin-top: 120px;
  margin-bottom: 120px; }

.margin-tb130 {
  margin-top: 130px;
  margin-bottom: 130px; }

.margin-tb140 {
  margin-top: 140px;
  margin-bottom: 140px; }

.margin-tb150 {
  margin-top: 150px;
  margin-bottom: 150px; }

.margin-tb160 {
  margin-top: 160px;
  margin-bottom: 160px; }

.margin-tb170 {
  margin-top: 170px;
  margin-bottom: 170px; }

.margin-tb180 {
  margin-top: 180px;
  margin-bottom: 180px; }

.margin-tb190 {
  margin-top: 190px;
  margin-bottom: 190px; }

.margin-tb200 {
  margin-top: 200px;
  margin-bottom: 200px; }

/*======= margin Top css =======*/
.margin-t10 {
  margin-top: 10px; }

.margin-t15 {
  margin-top: 15px; }

.margin-t20 {
  margin-top: 20px; }

.margin-t25 {
  margin-top: 25px; }

.margin-t30 {
  margin-top: 30px; }

.margin-t35 {
  margin-top: 35px; }

.margin-t40 {
  margin-top: 40px; }

.margin-t45 {
  margin-top: 45px; }

.margin-t50 {
  margin-top: 50px; }

.margin-t55 {
  margin-top: 55px; }

.margin-t60 {
  margin-top: 60px; }

.margin-t65 {
  margin-top: 65px; }

.margin-t70 {
  margin-top: 70px; }

.margin-t75 {
  margin-top: 75px; }

.margin-t80 {
  margin-top: 80px; }

.margin-t85 {
  margin-top: 85px; }

.margin-t90 {
  margin-top: 90px; }

.margin-t100 {
  margin-top: 100px; }

.margin-t110 {
  margin-top: 110px; }

.margin-t120 {
  margin-top: 120px; }

.margin-t130 {
  margin-top: 130px; }

.margin-t140 {
  margin-top: 140px; }

.margin-t150 {
  margin-top: 150px; }

.margin-t160 {
  margin-top: 160px; }

.margin-t170 {
  margin-top: 170px; }

.margin-t180 {
  margin-top: 180px; }

.margin-t190 {
  margin-top: 190px; }

.margin-t200 {
  margin-top: 200px; }

/*======= Margin Bottom css =======*/
.margin-b10 {
  margin-bottom: 10px; }

.margin-b15 {
  margin-bottom: 15px; }

.margin-b20 {
  margin-bottom: 20px; }

.margin-b25 {
  margin-bottom: 25px; }

.margin-b30 {
  margin-bottom: 30px; }

.margin-b35 {
  margin-bottom: 35px; }

.margin-b40 {
  margin-bottom: 40px; }

.margin-b45 {
  margin-bottom: 45px; }

.margin-b50 {
  margin-bottom: 50px; }

.margin-b55 {
  margin-bottom: 55px; }

.margin-b60 {
  margin-bottom: 60px; }

.margin-b65 {
  margin-bottom: 65px; }

.margin-b70 {
  margin-bottom: 70px; }

.margin-b75 {
  margin-bottom: 75px; }

.margin-b80 {
  margin-bottom: 80px; }

.margin-b90 {
  margin-bottom: 90px; }

.margin-b100 {
  margin-bottom: 100px; }

.margin-b110 {
  margin-bottom: 110px; }

.margin-b120 {
  margin-bottom: 120px; }

.margin-b130 {
  margin-bottom: 130px; }

.margin-b140 {
  margin-bottom: 140px; }

.margin-b150 {
  margin-bottom: 150px; }

.margin-b160 {
  margin-bottom: 160px; }

.margin-b170 {
  margin-bottom: 170px; }

.margin-b180 {
  margin-bottom: 180px; }

.margin-b190 {
  margin-bottom: 190px; }

.margin-b200 {
  margin-bottom: 200px; }

/*======= margin Left and Right css =======*/
.margin-lr10 {
  margin-left: 10px;
  margin-right: 10px; }

.margin-lr15 {
  margin-left: 15px;
  margin-right: 15px; }

.margin-lr20 {
  margin-left: 20px;
  margin-right: 20px; }

.margin-lr25 {
  margin-left: 25px;
  margin-right: 25px; }

.margin-lr30 {
  margin-left: 30px;
  margin-right: 30px; }

.margin-lr35 {
  margin-left: 35px;
  margin-right: 35px; }

.margin-lr40 {
  margin-left: 40px;
  margin-right: 40px; }

.margin-lr45 {
  margin-left: 45px;
  margin-right: 45px; }

.margin-lr50 {
  margin-left: 50px;
  margin-right: 50px; }

.margin-lr55 {
  margin-left: 55px;
  margin-right: 55px; }

.margin-lr60 {
  margin-left: 60px;
  margin-right: 60px; }

.margin-lr65 {
  margin-left: 65px;
  margin-right: 65px; }

.margin-lr70 {
  margin-left: 70px;
  margin-right: 70px; }

.margin-lr75 {
  margin-left: 75px;
  margin-right: 75px; }

.margin-lr80 {
  margin-left: 80px;
  margin-right: 80px; }

.margin-lr90 {
  margin-left: 90px;
  margin-right: 90px; }

.margin-lr100 {
  margin-left: 100px;
  margin-right: 100px; }

.margin-lr110 {
  margin-left: 110px;
  margin-right: 110px; }

.margin-lr120 {
  margin-left: 120px;
  margin-right: 120px; }

.margin-lr130 {
  margin-left: 130px;
  margin-right: 130px; }

.margin-lr140 {
  margin-left: 140px;
  margin-right: 140px; }

.margin-lr150 {
  margin-left: 150px;
  margin-right: 150px; }

.margin-lr160 {
  margin-left: 160px;
  margin-right: 160px; }

.margin-lr170 {
  margin-left: 170px;
  margin-right: 170px; }

.margin-lr180 {
  margin-left: 180px;
  margin-right: 180px; }

.margin-lr190 {
  margin-left: 190px;
  margin-right: 190px; }

.margin-lr200 {
  margin-left: 200px;
  margin-right: 200px; }

/*======= margin Left css =======*/
.margin-l10 {
  margin-left: 10px; }

.margin-l15 {
  margin-left: 15px; }

.margin-l20 {
  margin-left: 20px; }

.margin-l25 {
  margin-left: 25px; }

.margin-l30 {
  margin-left: 30px; }

.margin-l35 {
  margin-left: 35px; }

.margin-l40 {
  margin-left: 40px; }

.margin-l45 {
  margin-left: 45px; }

.margin-l50 {
  margin-left: 50px; }

.margin-l55 {
  margin-left: 55px; }

.margin-l60 {
  margin-left: 60px; }

.margin-l65 {
  margin-left: 65px; }

.margin-l70 {
  margin-left: 70px; }

.margin-l75 {
  margin-left: 75px; }

.margin-l80 {
  margin-left: 80px; }

.margin-l90 {
  margin-left: 90px; }

.margin-l100 {
  margin-left: 100px; }

.margin-l110 {
  margin-left: 110px; }

.margin-l120 {
  margin-left: 120px; }

.margin-l130 {
  margin-left: 130px; }

.margin-l140 {
  margin-left: 140px; }

.margin-l150 {
  margin-left: 150px; }

.margin-l160 {
  margin-left: 160px; }

.margin-l170 {
  margin-left: 170px; }

.margin-l180 {
  margin-left: 180px; }

.margin-l190 {
  margin-left: 190px; }

.margin-l200 {
  margin-left: 200px; }

/*======= margin Left and Right css =======*/
.margin-r10 {
  margin-right: 10px; }

.margin-r15 {
  margin-right: 15px; }

.margin-r20 {
  margin-right: 20px; }

.margin-r25 {
  margin-right: 25px; }

.margin-r30 {
  margin-right: 30px; }

.margin-r35 {
  margin-right: 35px; }

.margin-r40 {
  margin-right: 40px; }

.margin-r45 {
  margin-right: 45px; }

.margin-r50 {
  margin-right: 50px; }

.margin-r55 {
  margin-right: 55px; }

.margin-r60 {
  margin-right: 60px; }

.margin-r65 {
  margin-right: 65px; }

.margin-r70 {
  margin-right: 70px; }

.margin-r75 {
  margin-right: 75px; }

.margin-r80 {
  margin-right: 80px; }

.margin-r90 {
  margin-right: 90px; }

.margin-r100 {
  margin-right: 100px; }

.margin-r110 {
  margin-right: 110px; }

.margin-r120 {
  margin-right: 120px; }

.margin-r130 {
  margin-right: 130px; }

.margin-r140 {
  margin-right: 140px; }

.margin-r150 {
  margin-right: 150px; }

.margin-r160 {
  margin-right: 160px; }

.margin-r170 {
  margin-right: 170px; }

.margin-r180 {
  margin-right: 180px; }

.margin-r190 {
  margin-right: 190px; }

.margin-r200 {
  margin-right: 200px; }

/************max height **********/
.scroolheight {max-height: 420px;height:100%;}
/************overflow **********/
.overflow_y {overflow-y: auto;}
.overflow_x {overflow-x: auto;}
/****************Scroll Bar ***************/
::-webkit-scrollbar {width: 4px; height: 3px; background: #fff;}
::-webkit-scrollbar-thumb{width: 4px; height: 3px; background: #960007;}
