/****** Login Tabbar Css ***********/

a {
    color: #4A4A4A;
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #A60000;
    text-decoration: none;
    outline: none;
}
.form-group {
    margin-bottom: 25px;
}

.login-form .nav {
    padding : 5px 15px;
}
.login-form .nav li {
    padding : 0px;
    border-bottom: 1px solid #929292;
}
.login-form .nav li a {
    border-radius: 0;
    border-bottom: 5px solid transparent;
    margin-bottom: -1px;
    font-size: 18px;
    color: #4A4A4A;
    font-weight: bold;
}
.login-form .nav li a:hover {
    border-bottom: 5px solid #A60000;
}
.login-form .nav li.active a {
    border-bottom: 5px solid #A60000;
}
.forgot-password {
    padding: 0 15px;
    text-align: right;
    margin-bottom: 5px;
}
.forgot-password a {
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: right;
}
.forgot-password a:hover {
    color: #A60000;
}

.grey-btn {
    background: #999999;
    padding: 10px;
    border-radius: 50px;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 19px 18px -15px rgba(0,0,0,0.5);
    border: 1px solid #929292;
    text-transform: uppercase;
}
.grey-btn:hover, .grey-btn:focus {
    background: #5F5F5F;
    text-decoration: none;
    color: #fff;
    outline: none;
}

.orange-btn {
    background: #F6823B;
    padding: 10px;
    border-radius: 50px;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 19px 18px -15px rgba(245,104,0,0.7);
    border: 1px solid #F6823B;
    width: 100%;
    text-transform: uppercase;
}
.orange-btn:hover, .orange-btn:focus {
    background: #ea6a1b;
    text-decoration: none;
    color: #fff;
    outline: none;
}

.login-formbtn {}

.login-form-header h4 {
    margin: 0;
}
.verification-code-input input.form-control {
    text-align: center;
}

/**=============== Custom Checkbox Css ==============**/

.custom-checkbox-block {}
.custom-checkbox {
  position: absolute;
  opacity: 0;
}
.custom-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.custom-checkbox + label:before {
  content: "";
  margin-right: 15px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.custom-checkbox:hover + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.custom-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.custom-checkbox:checked + label:before {
   box-shadow: 0 0 0 3px #A60000;
}
.custom-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto; 
}
.custom-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: #A60000;
  width: 3px;
  height: 3px;
  box-shadow: 2px 0 0 #A60000, 4px 0 0 #A60000, 4px -2px 0 #A60000, 4px -4px 0 #A60000, 4px -6px 0 #A60000, 4px -8px 0 #A60000;
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);
}


/**=============== Custom Checkbox Css ==============**/

.rediobtn {
    display: inline-block;
    margin-right: 20px;
} 
.rediobtn [type="radio"]:checked,
.rediobtn [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.rediobtn [type="radio"]:checked + label,
.rediobtn [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.rediobtn [type="radio"]:checked + label:before,
.rediobtn [type="radio"]:not(:checked) + label:before  {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #FFFFFF;
}
.rediobtn [type="radio"]:not(:checked) + label:before {
  border: 2px solid #E1E1E1;
  box-shadow: 1px 1px 1px 0 rgba(154,154,154,0.35);
}
.rediobtn [type="radio"]:checked + label:before {
  border: 2px solid #A60000;
  box-shadow: 1px 1px 1px 0 rgba(154,154,154,0.35);
}
.rediobtn [type="radio"]:checked + label:after,
.rediobtn [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #A60000;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.rediobtn [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.rediobtn [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

      


