body {color:#929292;}
/***************header starts here*******************/
/******topbar***********/
.header-search {position: relative;padding: 5px 0;}
.header-search .glyphicon {position: absolute;padding: 10px;pointer-events: none;right: 5px;top: 5px;}
.header-search input { padding-right: 30px; }
.topbar-nav ul li {color:#ADADAD;}
.topbar-nav ul li a {color:#4a4a4a;padding: 10px 15px;}
.topbar-nav ul li a span {
  padding: 0 7px 0 0;
  vertical-align: middle;
  font-size: 20px;
  display: inline-block;
}
.topbar-nav ul li a span.icon-notification_dark:before {
    color: #4a4a4a;
}
.topbar-nav ul li a:hover {
    color: #F6823B;
}
.topbar-nav ul li a:hover span.icon-notification_dark:before {
    color: #F6823B;
}
.topbar-nav ul li:last-child a {
    padding: 5px 15px;
}
.wallet-top span {
    padding: 0 0 0 7px;
    vertical-align: middle;
}


/*****last navbar*********/
header .navbar-brand {
    height: auto;
}
header .navbar {
    margin-bottom: 0;
}
.nav>li>a:focus, .nav>li>a:hover { text-decoration: none;background-color: transparent;}
.lastnavbar .nav>li>a {border-top: 4px solid transparent;padding: 15px 45px 0;margin-top:-1px;font-size: 18px;color: #fff;}
.lastnavbar .nav>li>a:focus, .lastnavbar  .nav>li>a:hover { border-top:4px solid #fff;}

header .navbar-toggle {
    margin: 2px 0;
}
header .navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
    background-color: #F6823B;
}

@media (max-width: 767.98px) {
  header .midnavbar .navbar-header {
      float: left;
  }
  .lastnavbar .nav li a {
      border-top: none;
      border-left: 4px solid transparent;
      padding: 10px 15px;
      margin-top: 0;
      text-align: left;
  }
  .lastnavbar .nav li a .nav_icontxt img {
      display: inline-block;
  }
  .lastnavbar .nav li a .nav_icontxt p {
      display: inline-block;
      padding: 0 0 0 15px;
  }
  .lastnavbar .nav>li>a:focus, .lastnavbar .nav>li>a:hover {
      border-top: none;
      border-left: 4px solid #fff;
  }
  header .nav>li {
      border-bottom: 1px solid #ec7715;
      padding: 5px 0;
  }
  header .navbar-nav {
      margin: 0 -15px;
  }
  .mobile-top-rightnav a span {
      font-size: 30px;
      color: #fff;
      margin-right: 15px;
  }
  .mobile-top-rightnav a span.icon-notification_dark:before {
      color: #fff;
  }


}

/***************header ends here*******************/

/***************Footer starts here*******************/
/*FOOTER 2*/
.main_footer a { color: #DDD;}
.main_footer a:hover,
.main_footer a:focus,
.main_footer a:active {color: #FFF;}
.main_footer .footer nav h3 {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0 1em 0;
}
.main_footer .footer nav h3 span {
  font-weight: 300;
  text-transform: capitalize;
}
.main_footer .footer nav ul {padding-left: 0;}
.main_footer .footer nav ul li a {
  text-decoration: none;
  display: block;
  padding: 4px 0;
  font-size: 16px;
}
.main_footer .footer .input-group { margin: 15px 0;}
.main_footer .footer .form-control {
  border-radius: 2px 0 0 2px;
  background-color: #585C5D;
  border-color: #585C5D;
  color: #DDD;
}
.main_footer .footer .form-control:hover,
.main_footer .footer .form-control:focus {
  border: 1px solid #222728;
  background-color: #222728;
}
.main_footer .footer .input-group-addon {
  border-radius: 0 2px 2px 0;
  background-color: #F7931D;
  color: #FFF;
  border-color: #F7931D;
}
.main_footer .footer .social li {float: left;}
.main_footer .footer .social li a {
  display: block;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  background-color: transparent;
  border-radius: 22px;
  margin: 6px;
  border: 2px solid #fff;
  padding: 0;
}
.footer-bottom {background-color: #191919;}

@media (max-width: 550px) {
  .main_footer .footer-bottom .pull-left {
  float: none !important;
  width: 100%;
  padding: 10px;
  text-align: center;
}
}
/***************Footer ends here*******************/




/**************HOME PAGE STARTS HERE****************/
    /************main css *************/

.form-row input.form-control:focus {box-shadow:none;},.form-row select.form-control:focus {box-shadow:none;}
.form-row input.form-control,.form-row select.form-control {border:none;border-bottom: 1px solid #ccc;border-radius: 0;box-shadow:none;}
.formbtn input{border-color: transparent;font-size: 15px;}
/********slider ********/
.slider_wrap .carousel-indicators li {background:rgba(82, 75, 75, 0.29);}
.slider_wrap .carousel-indicators .active {background:#000;}
/***********right section************/
.img_right li{ 
  display:inline-block;
  text-align: center;
  padding-top: 5px;
}
.img_right li p { padding: 8px 0 0 0; font-size: 12px;}

/****************testimonial ****************/
.testimonial p { font-size: 16px;}
.testimonial .testimonial_content {}
.testimonial .carousel-indicators {bottom:-20px;}
/**************download part ****************/
.download_androidios {text-align:right;}
/**************HOME PAGE ENDS HERE****************/

/**************ADD MONEY PAGE STARTS HERE****************/
.headerimg {display: inline;}
.imgborder {
  border: 1px solid #C7C6C6;
  padding: 15px;
  border-radius: 50%;
}
/**************ADD MONEY PAGE ENDS HERE****************/

/**************Bank Account or Merchand PAGE STARTS HERE****************/
.banktab_section ul li {
  width: 50%;text-align: center;margin: 0;}
.banktab_section ul li a {
  font-weight: 500;color: #4A4A4A;
  /*border-left: 1px solid #E4E4E4;border-right: 1px solid #E4E4E4;*/
  border: 1px solid #E4E4E4;
  margin:0;border-radius:0;font-size: 16px;
}
.banktab_section .nav-tabs>li.active>a,.banktab_section .nav-tabs>li.active>a:focus,
.banktab_section .nav-tabs>li.active>a:hover {
  text-decoration: none;color: #4A4A4A;
  background-color: #E4E4E4;font-weight: 600;
}
/**************Bank Account or Merchand PAGE ENDS HERE****************/

/**************WEB TRANSACTION PAGE STARTS HERE****************/
.transaction_tab .nav-tabs>li.active>a,.transaction_tab .nav-tabs>li.active>a:focus,
.transaction_tab .nav-tabs>li.active>a:hover {
  color: #A60000;
  cursor: default;
  background-color: #fff;
  border: none;
  font-weight: 500;
}
.transaction_tab .nav-tabs>li {margin-bottom:-3px;}
.transaction_tab .nav-tabs>li>a {
  color: #4A4A4A;font-size:16px;padding:10px 25px;
  border: none;margin:0;border-radius:0;
}
/**************WEB TRANSACTION PAGE ENDS HERE****************/

/**************Payment request PAGE STARTS HERE****************/
.banktab_section.paymentrequest_tab ul li {
  width: 33.33%;
}
/**************Payment request PAGE STARTS HERE****************/

/**************Bus Tickets PAGE STARTS HERE****************/
input[type="date"] {width:100%; border: none;border-bottom: 1px solid #E4E4E4;}
.form-group.fromto_arrow i {
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  padding: 10px;
}
.calender_icon i {
  position: absolute;top: 10px;right:30px;cursor: pointer;
  -webkit-appearance: none;-moz-appearance:none;appearance:none;
  }
/**************Bus Tickets PAGE ENDS HERE****************/

/**************Movie PAGE STARTS HERE****************/
.nav.nav-tabs.week_tab {width: 90%;margin: 10px auto auto;border: 1px solid #E4E4E4;}
.nav.nav-tabs.week_tab li {
  display: inline-block;width: auto !important;
  float: left;padding: 10px 17px;
}
.nav.nav-tabs.week_tab li a{border-radius: 22px;font-size: 11px;padding: 6px 9px;}
.nav.nav-tabs.week_tab>li.active>a, .nav.nav-tabs.week_tab>li.active>a:focus, .nav.nav-tabs.week_tab>li.active>a:hover {
  text-decoration: none;
  color: #fff;border:none;
  background-color: #EF6922;
  padding: 6px 9px;
}
.cenema_time span{padding: 4px 6px;margin-left:5px;}

/**************Movie PAGE ENDS HERE****************/

@media only screen and (min-width: 1366px) {
  .getmoney .mobiletxt p.content.subheading {padding: 20px 250px;}
}


